<table style="text-align: left">
    <tr>
        <td>
            <label style="text-align: center;font-size:20px;font-weight: bold;color:#082BAF">Seattle Car Accident Severity â€” IBM Applied Data Science Capstone</label>
        </td>
    </tr>
    <tr>
        <td><label style="text-align: left">This is the applied data science capstone project, which is the last step towards obtaining the IBM Data Science Professional Certificate.</label>
        </td>
    </tr>
</table>
<hr>

<h5> Dowload the dataset from the source</h5>

In [ ]:
!curl -O Collisions.csv https://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv?outSR=%7B%22latestWkid%22%3A2926%2C%22wkid%22%3A2926%7D
print("Archivo descargado")

In [ ]:
import pandas as pd
data=pd.read_csv("Collisions.csv", delimiter=",")
data.head()

In [12]:
data.shape

(221525, 40)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221525 entries, 0 to 221524
Data columns (total 40 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                214050 non-null  float64
 1   Y                214050 non-null  float64
 2   OBJECTID         221525 non-null  int64
 3   INCKEY           221525 non-null  int64
 4   COLDETKEY        221525 non-null  int64
 5   REPORTNO         221525 non-null  object
 6   STATUS           221525 non-null  object
 7   ADDRTYPE         217813 non-null  object
 8   INTKEY           71936 non-null   float64
 9   LOCATION         216935 non-null  object
 10  EXCEPTRSNCODE    101122 non-null  object
 11  EXCEPTRSNDESC    11779 non-null   object
 12  SEVERITYCODE     221524 non-null  object
 13  SEVERITYDESC     221525 non-null  object
 14  COLLISIONTYPE    195212 non-null  object
 15  PERSONCOUNT      221525 non-null  int64
 16  PEDCOUNT         221525 non-null  int64
 17  PEDCYLCOUNT      221525 non-null  int64
 18  VEHCOUNT         221525 non-null  int64
 19  INJURIES         221525 non-null  int64
 20  SERIOUSINJURIES  221525 non-null  int64
 21  FATALITIES       221525 non-null  int64
 22  INCDATE          221525 non-null  object
 23  INCDTTM          221525 non-null  object
 24  JUNCTIONTYPE     209551 non-null  object
 25  SDOT_COLCODE     221524 non-null  float64
 26  SDOT_COLDESC     221524 non-null  object
 27  INATTENTIONIND   30188 non-null   object
 28  UNDERINFL        195232 non-null  object
 29  WEATHER          195022 non-null  object
 30  ROADCOND         195103 non-null  object
 31  LIGHTCOND        194933 non-null  object
 32  PEDROWNOTGRNT    5195 non-null    object
 33  SDOTCOLNUM       127205 non-null  float64
 34  SPEEDING         9929 non-null    object
 35  ST_COLCODE       212112 non-null  object
 36  ST_COLDESC       195212 non-null  object
 37  SEGLANEKEY       221525 non-null  int64
 38  CROSSWALKKEY     221525 non-null  int64
 39  HITPARKEDCAR     221525 non-null  object
dtypes: float64(5), int64(12), object(23)
memory usage: 67.6+ MB

In [14]:
data.describe()

,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,2.140500e+05,214050.000000,221525.000000,221525.000000,221525.000000,71936.000000,221525.000000,221525.000000,221525.000000,221525.000000,221525.000000,221525.000000,221525.000000,221524.000000,1.272050e+05,221525.000000,2.215250e+05
mean,1.271147e+06,229822.714977,110763.000000,144824.873233,145053.886627,37626.275537,2.226941,0.038118,0.027360,1.730482,0.373935,0.015208,0.001693,13.383042,7.971063e+06,261.135903,9.577244e+03
std,7.361903e+03,20463.229585,63948.903529,89222.567072,89598.173976,51968.207339,1.470050,0.201766,0.164537,0.829754,0.732077,0.158052,0.044888,7.300182,2.611523e+06,3246.962907,7.146156e+04
min,1.249026e+06,184059.089009,1.000000,1001.000000,1001.000000,23807.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.266677e+06,214145.383695,55382.000000,71668.000000,71668.000000,28653.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,11.000000,6.007029e+06,0.000000,0.000000e+00
50%,1.271142e+06,228336.487966,110763.000000,127252.000000,127252.000000,29973.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,11.000000,8.033011e+06,0.000000,0.000000e+00
75%,1.276029e+06,245908.853680,166144.000000,209935.000000,210155.000000,33984.000000,3.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,14.000000,1.018101e+07,0.000000,0.000000e+00
max,1.293052e+06,271525.414794,221525.000000,334020.000000,335520.000000,764413.000000,93.000000,6.000000,2.000000,15.000000,78.000000,41.000000,5.000000,87.000000,1.307202e+07,525241.000000,5.239700e+06

<h1>Identifying missing data </h1>

<h5>Once the data set was downloaded, the analysis of the attribute information of the dataset was performed and the 15 most relevant features were selected. </h5>

In [15]:
data=data[['SEVERITYCODE','SEVERITYDESC','COLLISIONTYPE','JUNCTIONTYPE','INATTENTIONIND','UNDERINFL','WEATHER','ROADCOND','LIGHTCOND',
'SPEEDING','SEGLANEKEY','HITPARKEDCAR','ADDRTYPE','INCDATE','INCDTTM']]
data.head()

,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,HITPARKEDCAR,ADDRTYPE,INCDATE,INCDTTM
0,2,Injury Collision,Cycles,Driveway Junction,NaN,N,Clear,Dry,Daylight,NaN,15057,N,Block,2013/03/14 00:00:00+00,3/14/2013 5:30:00 PM
1,2,Injury Collision,Pedestrian,Mid-Block (not related to intersection),NaN,0,Overcast,Dry,Dark - Street Lights On,NaN,0,N,Block,2006/01/15 00:00:00+00,1/15/2006 5:35:00 PM
2,1,Property Damage Only Collision,Angles,At Intersection (intersection related),NaN,N,Overcast,Wet,Daylight,NaN,0,N,Intersection,2019/09/09 00:00:00+00,9/9/2019 3:32:00 PM
3,1,Property Damage Only Collision,NaN,At Intersection (intersection related),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Intersection,2019/12/19 00:00:00+00,12/19/2019
4,0,Unknown,NaN,Mid-Block (not related to intersection),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Block,2013/03/27 00:00:00+00,3/27/2013

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221525 entries, 0 to 221524
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    221524 non-null  object
 1   SEVERITYDESC    221525 non-null  object
 2   COLLISIONTYPE   195212 non-null  object
 3   JUNCTIONTYPE    209551 non-null  object
 4   INATTENTIONIND  30188 non-null   object
 5   UNDERINFL       195232 non-null  object
 6   WEATHER         195022 non-null  object
 7   ROADCOND        195103 non-null  object
 8   LIGHTCOND       194933 non-null  object
 9   SPEEDING        9929 non-null    object
 10  SEGLANEKEY      221525 non-null  int64
 11  HITPARKEDCAR    221525 non-null  object
 12  ADDRTYPE        217813 non-null  object
 13  INCDATE         221525 non-null  object
 14  INCDTTM         221525 non-null  object
dtypes: int64(1), object(14)
memory usage: 25.4+ MB

In [17]:
data.shape

(221525, 15)

In [18]:
import numpy as np
data.replace("?", np.nan, inplace = True)
data.head()

,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,HITPARKEDCAR,ADDRTYPE,INCDATE,INCDTTM
0,2,Injury Collision,Cycles,Driveway Junction,NaN,N,Clear,Dry,Daylight,NaN,15057,N,Block,2013/03/14 00:00:00+00,3/14/2013 5:30:00 PM
1,2,Injury Collision,Pedestrian,Mid-Block (not related to intersection),NaN,0,Overcast,Dry,Dark - Street Lights On,NaN,0,N,Block,2006/01/15 00:00:00+00,1/15/2006 5:35:00 PM
2,1,Property Damage Only Collision,Angles,At Intersection (intersection related),NaN,N,Overcast,Wet,Daylight,NaN,0,N,Intersection,2019/09/09 00:00:00+00,9/9/2019 3:32:00 PM
3,1,Property Damage Only Collision,NaN,At Intersection (intersection related),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Intersection,2019/12/19 00:00:00+00,12/19/2019
4,0,Unknown,NaN,Mid-Block (not related to intersection),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Block,2013/03/27 00:00:00+00,3/27/2013

Check if there is null values through the features

In [19]:
missing_data=data.isnull()
for column in missing_data.columns.values.tolist():
    print ('Column:',column)
    print(missing_data[column].value_counts())
    print('===================================')

Column: SEVERITYCODE
False    221524
True          1
Name: SEVERITYCODE, dtype: int64
===================================
Column: SEVERITYDESC
False    221525
Name: SEVERITYDESC, dtype: int64
===================================
Column: COLLISIONTYPE
False    195212
True      26313
Name: COLLISIONTYPE, dtype: int64
===================================
Column: JUNCTIONTYPE
False    209551
True      11974
Name: JUNCTIONTYPE, dtype: int64
===================================
Column: INATTENTIONIND
True     191337
False     30188
Name: INATTENTIONIND, dtype: int64
===================================
Column: UNDERINFL
False    195232
True      26293
Name: UNDERINFL, dtype: int64
===================================
Column: WEATHER
False    195022
True      26503
Name: WEATHER, dtype: int64
===================================
Column: ROADCOND
False    195103
True      26422
Name: ROADCOND, dtype: int64
===================================
Column: LIGHTCOND
False    194933
True      26592
Name: LIGHTCOND, dtype: int64
===================================
Column: SPEEDING
True     211596
False      9929
Name: SPEEDING, dtype: int64
===================================
Column: SEGLANEKEY
False    221525
Name: SEGLANEKEY, dtype: int64
===================================
Column: HITPARKEDCAR
False    221525
Name: HITPARKEDCAR, dtype: int64
===================================
Column: ADDRTYPE
False    217813
True       3712
Name: ADDRTYPE, dtype: int64
===================================
Column: INCDATE
False    221525
Name: INCDATE, dtype: int64
===================================
Column: INCDTTM
False    221525
Name: INCDTTM, dtype: int64
===================================

In [21]:
data['SEVERITYCODE'].value_counts()

1     137671
2      58783
0      21615
2b      3105
3        350
Name: SEVERITYCODE, dtype: int64

In [23]:
data['SEVERITYDESC'].value_counts()

Property Damage Only Collision    137671
Injury Collision                   58783
Unknown                            21616
Serious Injury Collision            3105
Fatality Collision                   350
Name: SEVERITYDESC, dtype: int64

In [24]:
data['COLLISIONTYPE'].value_counts()

Parked Car    48551
Angles        35573
Rear Ended    34691
Other         24588
Sideswipe     18891
Left Turn     14115
Pedestrian     7666
Cycles         5932
Right Turn     3017
Head On        2188
Name: COLLISIONTYPE, dtype: int64

In [25]:
data['COLLISIONTYPE'].isnull().value_counts()

False    195212
True      26313
Name: COLLISIONTYPE, dtype: int64

In [26]:
missing_data

,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,HITPARKEDCAR,ADDRTYPE,INCDATE,INCDTTM
0,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
3,False,False,True,False,True,True,True,True,True,True,False,False,False,False,False
4,False,False,True,False,True,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221520,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
221521,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
221522,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
221523,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
221524,False,False,True,True,True,True,True,True,True,True,False,False,False,False,False

In [27]:
missing_data.sum(axis=1)

0         2
1         2
2         2
3         7
4         7
         ..
221520    1
221521    2
221522    2
221523    2
221524    8
Length: 221525, dtype: int64

In [28]:
missing_data.iloc[3]

SEVERITYCODE      False
SEVERITYDESC      False
COLLISIONTYPE      True
JUNCTIONTYPE      False
INATTENTIONIND     True
UNDERINFL          True
WEATHER            True
ROADCOND           True
LIGHTCOND          True
SPEEDING           True
SEGLANEKEY        False
HITPARKEDCAR      False
ADDRTYPE          False
INCDATE           False
INCDTTM           False
Name: 3, dtype: bool

In [29]:
missing_data['total']=missing_data.sum(axis=1)
missing_data.head()

,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,HITPARKEDCAR,ADDRTYPE,INCDATE,INCDTTM,total
0,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,2
1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,2
2,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,2
3,False,False,True,False,True,True,True,True,True,True,False,False,False,False,False,7
4,False,False,True,False,True,True,True,True,True,True,False,False,False,False,False,7

In [30]:
missing_data.sort_values(by=['total'], ascending=False)

,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,HITPARKEDCAR,ADDRTYPE,INCDATE,INCDTTM,total
132646,False,False,True,True,True,True,True,True,True,True,False,False,True,False,False,9
21035,False,False,True,True,True,True,True,True,True,True,False,False,True,False,False,9
154413,False,False,True,True,True,True,True,True,True,True,False,False,True,False,False,9
193639,False,False,True,True,True,True,True,True,True,True,False,False,True,False,False,9
154400,False,False,True,True,True,True,True,True,True,True,False,False,True,False,False,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0
165238,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0
77736,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0
34053,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0
139712,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0

In [31]:
(missing_data['total']>2).sum()

32692

In [32]:
keys_missing=(missing_data['total']>2)
keys_missing

0         False
1         False
2         False
3          True
4          True
          ...
221520    False
221521    False
221522    False
221523    False
221524     True
Name: total, Length: 221525, dtype: bool

In [33]:
data.head()

,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,HITPARKEDCAR,ADDRTYPE,INCDATE,INCDTTM
0,2,Injury Collision,Cycles,Driveway Junction,NaN,N,Clear,Dry,Daylight,NaN,15057,N,Block,2013/03/14 00:00:00+00,3/14/2013 5:30:00 PM
1,2,Injury Collision,Pedestrian,Mid-Block (not related to intersection),NaN,0,Overcast,Dry,Dark - Street Lights On,NaN,0,N,Block,2006/01/15 00:00:00+00,1/15/2006 5:35:00 PM
2,1,Property Damage Only Collision,Angles,At Intersection (intersection related),NaN,N,Overcast,Wet,Daylight,NaN,0,N,Intersection,2019/09/09 00:00:00+00,9/9/2019 3:32:00 PM
3,1,Property Damage Only Collision,NaN,At Intersection (intersection related),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Intersection,2019/12/19 00:00:00+00,12/19/2019
4,0,Unknown,NaN,Mid-Block (not related to intersection),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Block,2013/03/27 00:00:00+00,3/27/2013

In [34]:
data[keys_missing]

,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,HITPARKEDCAR,ADDRTYPE,INCDATE,INCDTTM
3,1,Property Damage Only Collision,NaN,At Intersection (intersection related),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Intersection,2019/12/19 00:00:00+00,12/19/2019
4,0,Unknown,NaN,Mid-Block (not related to intersection),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Block,2013/03/27 00:00:00+00,3/27/2013
7,0,Unknown,NaN,Mid-Block (not related to intersection),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Block,2013/04/01 00:00:00+00,4/1/2013
12,1,Property Damage Only Collision,Parked Car,Mid-Block (not related to intersection),NaN,0,NaN,NaN,NaN,NaN,0,N,Block,2006/06/13 00:00:00+00,6/13/2006 8:45:00 AM
22,0,Unknown,NaN,At Intersection (intersection related),NaN,NaN,NaN,NaN,NaN,NaN,0,N,Intersection,2004/10/17 00:00:00+00,10/17/2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221506,0,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Y,Block,2019/10/04 00:00:00+00,10/4/2019
221510,0,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Y,Block,2019/12/06 00:00:00+00,12/6/2019
221513,0,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Y,Block,2019/10/02 00:00:00+00,10/2/2019
221517,0,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,N,NaN,2019/11/12 00:00:00+00,11/12/2019
221524,0,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Y,Block,2019/10/29 00:00:00+00,10/29/2019

Let's drop the missing values

In [35]:
data.drop(data[keys_missing].index.values, inplace=True)
data.head()

,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,HITPARKEDCAR,ADDRTYPE,INCDATE,INCDTTM
0,2,Injury Collision,Cycles,Driveway Junction,NaN,N,Clear,Dry,Daylight,NaN,15057,N,Block,2013/03/14 00:00:00+00,3/14/2013 5:30:00 PM
1,2,Injury Collision,Pedestrian,Mid-Block (not related to intersection),NaN,0,Overcast,Dry,Dark - Street Lights On,NaN,0,N,Block,2006/01/15 00:00:00+00,1/15/2006 5:35:00 PM
2,1,Property Damage Only Collision,Angles,At Intersection (intersection related),NaN,N,Overcast,Wet,Daylight,NaN,0,N,Intersection,2019/09/09 00:00:00+00,9/9/2019 3:32:00 PM
5,2,Injury Collision,Left Turn,At Intersection (intersection related),NaN,0,Clear,Dry,Daylight,NaN,0,N,Intersection,2005/07/07 00:00:00+00,7/7/2005
6,1,Property Damage Only Collision,Sideswipe,At Intersection (intersection related),NaN,N,Clear,Dry,Daylight,NaN,0,N,Intersection,2020/07/31 00:00:00+00,7/31/2020 10:29:00 AM

In [36]:
missing_data=data.isnull()
for column in missing_data.columns.values.tolist():
    print ('Column:',column)
    print(missing_data[column].value_counts())
    print('===================================')

Column: SEVERITYCODE
False    188833
Name: SEVERITYCODE, dtype: int64
===================================
Column: SEVERITYDESC
False    188833
Name: SEVERITYDESC, dtype: int64
===================================
Column: COLLISIONTYPE
False    188831
True          2
Name: COLLISIONTYPE, dtype: int64
===================================
Column: JUNCTIONTYPE
False    188380
True        453
Name: JUNCTIONTYPE, dtype: int64
===================================
Column: INATTENTIONIND
True     158761
False     30072
Name: INATTENTIONIND, dtype: int64
===================================
Column: UNDERINFL
False    188833
Name: UNDERINFL, dtype: int64
===================================
Column: WEATHER
False    188807
True         26
Name: WEATHER, dtype: int64
===================================
Column: ROADCOND
False    188827
True          6
Name: ROADCOND, dtype: int64
===================================
Column: LIGHTCOND
False    188785
True         48
Name: LIGHTCOND, dtype: int64
===================================
Column: SPEEDING
True     178941
False      9892
Name: SPEEDING, dtype: int64
===================================
Column: SEGLANEKEY
False    188833
Name: SEGLANEKEY, dtype: int64
===================================
Column: HITPARKEDCAR
False    188833
Name: HITPARKEDCAR, dtype: int64
===================================
Column: ADDRTYPE
False    188787
True         46
Name: ADDRTYPE, dtype: int64
===================================
Column: INCDATE
False    188833
Name: INCDATE, dtype: int64
===================================
Column: INCDTTM
False    188833
Name: INCDTTM, dtype: int64
===================================

In [37]:
data[data['COLLISIONTYPE'].isnull()].head()

,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,HITPARKEDCAR,ADDRTYPE,INCDATE,INCDTTM
192831,2,Injury Collision,NaN,At Intersection (intersection related),NaN,N,Raining,Wet,Daylight,Y,0,N,Intersection,2018/01/05 00:00:00+00,1/5/2018 2:50:00 PM
193494,2,Injury Collision,NaN,Mid-Block (not related to intersection),Y,N,Clear,Dry,Dark - Street Lights On,NaN,0,N,Block,2018/01/14 00:00:00+00,1/14/2018 11:28:00 PM

In [38]:
data['COLLISIONTYPE'].value_counts().idxmax()

'Parked Car'

In [39]:
data['COLLISIONTYPE'].replace(np.nan, data['COLLISIONTYPE'].value_counts().idxmax(), inplace=True)

In [40]:
data[data['COLLISIONTYPE'].isnull()].head()

Empty DataFrame
Columns: [SEVERITYCODE, SEVERITYDESC, COLLISIONTYPE, JUNCTIONTYPE, INATTENTIONIND, UNDERINFL, WEATHER, ROADCOND, LIGHTCOND, SPEEDING, SEGLANEKEY, HITPARKEDCAR, ADDRTYPE, INCDATE, INCDTTM]
Index: []

In [41]:
data['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              89094
At Intersection (intersection related)               63643
Mid-Block (but intersection related)                 22664
Driveway Junction                                    10723
At Intersection (but not related to intersection)     2085
Ramp Junction                                          166
Unknown                                                  5
Name: JUNCTIONTYPE, dtype: int64

In [42]:
data['JUNCTIONTYPE'].replace(np.nan, data['JUNCTIONTYPE'].value_counts().idxmax(), inplace=True)

In [43]:
data['JUNCTIONTYPE'].replace('Unknown', data['JUNCTIONTYPE'].value_counts().idxmax(), inplace=True)
data['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              89552
At Intersection (intersection related)               63643
Mid-Block (but intersection related)                 22664
Driveway Junction                                    10723
At Intersection (but not related to intersection)     2085
Ramp Junction                                          166
Name: JUNCTIONTYPE, dtype: int64

In [46]:
data['INATTENTIONIND'].value_counts()

N    158761
Y     30072
Name: INATTENTIONIND, dtype: int64

In [47]:
data['INATTENTIONIND'].replace(np.nan, 'N', inplace=True)
data['INATTENTIONIND'].value_counts()

N    158761
Y     30072
Name: INATTENTIONIND, dtype: int64

In [48]:
data['UNDERINFL'].value_counts()

N    99063
0    80257
Y     5302
1     4211
Name: UNDERINFL, dtype: int64

In [49]:
data['UNDERINFL'].replace(np.nan, data['UNDERINFL'].value_counts().idxmax(), inplace=True)

In [51]:
data['UNDERINFL'].value_counts()

N    99063
0    80257
Y     5302
1     4211
Name: UNDERINFL, dtype: int64

In [52]:
data['UNDERINFL']=data['UNDERINFL'].map({'N':0,'0':0, 'Y':1, '1': 1})

In [53]:
data['UNDERINFL'].value_counts()

0    179320
1      9513
Name: UNDERINFL, dtype: int64

In [54]:
data['WEATHER'].value_counts()

Clear                       112862
Raining                      33603
Overcast                     28077
Unknown                      11826
Snowing                        896
Other                          778
Fog/Smog/Smoke                 565
Sleet/Hail/Freezing Rain       115
Blowing Sand/Dirt               49
Severe Crosswind                26
Partly Cloudy                   10
Name: WEATHER, dtype: int64

In [56]:
data['WEATHER'].replace(np.nan, data['WEATHER'].value_counts().idxmax(), inplace=True)
data['WEATHER'].replace('Other', 'Unknown', inplace=True)
data['WEATHER'].value_counts()

Clear                       112888
Raining                      33603
Overcast                     28077
Unknown                      12604
Snowing                        896
Fog/Smog/Smoke                 565
Sleet/Hail/Freezing Rain       115
Blowing Sand/Dirt               49
Severe Crosswind                26
Partly Cloudy                   10
Name: WEATHER, dtype: int64

In [57]:
data['ROADCOND'].value_counts()

Dry               126453
Wet                48070
Unknown            11741
Ice                 1204
Snow/Slush           989
Other                127
Standing Water       112
Sand/Mud/Dirt         70
Oil                   61
Name: ROADCOND, dtype: int64

In [58]:
data['ROADCOND'].replace(np.nan, data['ROADCOND'].value_counts().idxmax(), inplace=True)

In [59]:
data['LIGHTCOND'].value_counts()

Daylight                    117417
Dark - Street Lights On      49264
Unknown                      10618
Dusk                          5967
Dawn                          2566
Dark - No Street Lights       1510
Dark - Street Lights Off      1201
Other                          219
Dark - Unknown Lighting         23
Name: LIGHTCOND, dtype: int64

In [61]:
data['LIGHTCOND'].replace(np.nan, data['LIGHTCOND'].value_counts().idxmax(), inplace=True)
data['LIGHTCOND'].replace('Other', 'Unknown', inplace=True)
data['LIGHTCOND'].value_counts()

Daylight                    117465
Dark - Street Lights On      49264
Unknown                      10837
Dusk                          5967
Dawn                          2566
Dark - No Street Lights       1510
Dark - Street Lights Off      1201
Dark - Unknown Lighting         23
Name: LIGHTCOND, dtype: int64

In [62]:
data['SPEEDING'].value_counts()

Y    9892
Name: SPEEDING, dtype: int64

In [63]:
data['SPEEDING'].replace(np.nan, 'N', inplace=True)

In [64]:
data['SPEEDING'].value_counts()

N    178941
Y      9892
Name: SPEEDING, dtype: int64

In [65]:
data['ADDRTYPE'].value_counts()

Block           122697
Intersection     65766
Alley              324
Name: ADDRTYPE, dtype: int64

In [66]:
data['ADDRTYPE'].replace(np.nan, data['ADDRTYPE'].value_counts().idxmax(), inplace=True)
data['ADDRTYPE'].value_counts()

Block           122743
Intersection     65766
Alley              324
Name: ADDRTYPE, dtype: int64

In [67]:
missing_data=data.isnull()
for column in missing_data.columns.values.tolist():
    print ('Column:',column)
    print(missing_data[column].value_counts())
    print('===================================')

Column: SEVERITYCODE
False    188833
Name: SEVERITYCODE, dtype: int64
===================================
Column: SEVERITYDESC
False    188833
Name: SEVERITYDESC, dtype: int64
===================================
Column: COLLISIONTYPE
False    188833
Name: COLLISIONTYPE, dtype: int64
===================================
Column: JUNCTIONTYPE
False    188833
Name: JUNCTIONTYPE, dtype: int64
===================================
Column: INATTENTIONIND
False    188833
Name: INATTENTIONIND, dtype: int64
===================================
Column: UNDERINFL
False    188833
Name: UNDERINFL, dtype: int64
===================================
Column: WEATHER
False    188833
Name: WEATHER, dtype: int64
===================================
Column: ROADCOND
False    188833
Name: ROADCOND, dtype: int64
===================================
Column: LIGHTCOND
False    188833
Name: LIGHTCOND, dtype: int64
===================================
Column: SPEEDING
False    188833
Name: SPEEDING, dtype: int64
===================================
Column: SEGLANEKEY
False    188833
Name: SEGLANEKEY, dtype: int64
===================================
Column: HITPARKEDCAR
False    188833
Name: HITPARKEDCAR, dtype: int64
===================================
Column: ADDRTYPE
False    188833
Name: ADDRTYPE, dtype: int64
===================================
Column: INCDATE
False    188833
Name: INCDATE, dtype: int64
===================================
Column: INCDTTM
False    188833
Name: INCDTTM, dtype: int64
===================================

In [68]:
data[['INCDATE', 'INCDTTM']]

                       INCDATE                 INCDTTM
0       2013/03/14 00:00:00+00    3/14/2013 5:30:00 PM
1       2006/01/15 00:00:00+00    1/15/2006 5:35:00 PM
2       2019/09/09 00:00:00+00     9/9/2019 3:32:00 PM
5       2005/07/07 00:00:00+00                7/7/2005
6       2020/07/31 00:00:00+00   7/31/2020 10:29:00 AM
...                        ...                     ...
221519  2019/10/30 00:00:00+00   10/30/2019 5:56:00 PM
221520  2019/11/27 00:00:00+00  11/27/2019 12:20:00 PM
221521  2019/12/08 00:00:00+00    12/8/2019 3:05:00 PM
221522  2019/09/28 00:00:00+00    9/28/2019 4:17:00 PM
221523  2019/11/06 00:00:00+00   11/6/2019 10:54:00 AM

[188833 rows x 2 columns]

In [69]:
data.dtypes

SEVERITYCODE      object
SEVERITYDESC      object
COLLISIONTYPE     object
JUNCTIONTYPE      object
INATTENTIONIND    object
UNDERINFL          int64
WEATHER           object
ROADCOND          object
LIGHTCOND         object
SPEEDING          object
SEGLANEKEY         int64
HITPARKEDCAR      object
ADDRTYPE          object
INCDATE           object
INCDTTM           object
dtype: object

Change datatime objects types

In [70]:
data['INCDATE']=pd.to_datetime(data['INCDATE'])
data['INCDATE'].head()

0   2013-03-14 00:00:00+00:00
1   2006-01-15 00:00:00+00:00
2   2019-09-09 00:00:00+00:00
5   2005-07-07 00:00:00+00:00
6   2020-07-31 00:00:00+00:00
Name: INCDATE, dtype: datetime64[ns, UTC]

In [71]:
data['INCDTTM']=pd.to_datetime(data['INCDTTM'])
data['INCDTTM'].head()

0   2013-03-14 17:30:00
1   2006-01-15 17:35:00
2   2019-09-09 15:32:00
5   2005-07-07 00:00:00
6   2020-07-31 10:29:00
Name: INCDTTM, dtype: datetime64[ns]